SERVER_ADDRESS=0.0.0.0:3000
DATABASE_URL=postgres://uptions:uptions@localhost:5432/uptions
POLYMARKET_GAMMA_HOST=https://gamma-api.polymarket.com
RESEND__KEY=
RESEND_FROM_EMAIL=uptions <onboarding@uptions.xyz>
